@use "@/style/mixin/_fluid.scss" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

h1 {
  @include fluid(22px, 38px);
  line-height: 2;
}

h2 {
  @include fluid(20px, 32px);
}

pre {
  @include fluid(20px, 32px);
}

a {
  color: inherit;
}
